/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
	height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

:root {
	--c-background: #ffffff;
	--c-inverseBackground: #272822;
	--c-primaryText: #272822;
	--c-secondaryText: #444444;
	--c-tertiaryText: #dadada;
	--c-inverseText: #ffffff;
	--c-primaryAccent: #ffc6ab;
}

.wrapper {
	width: 85%;
	max-width: 65rem;
	margin: 0 auto;
}

@font-face {
	font-family: 'Canela Web';
	src: url('/fonts/Canela-Regular-Web.woff2') format('woff2'),
		url('/fonts/Canela-Regular-Web.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Canela Deck Web';
	src: url('/fonts/CanelaDeck-Regular-Web.woff2') format('woff2'),
		url('/fonts/CanelaDeck-Regular-Web.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Canela Deck Web';
	src: url('/fonts/CanelaDeck-Light-Web.woff2') format('woff2'),
		url('/fonts/CanelaDeck-Light-Web.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

body {
	font-family: 'freight-text-pro', serif;
	line-height: 1.5;
	/* A bit controversial  */
	/* More info: https://www.joshwcomeau.com/css/custom-css-reset/#digit-font-smoothing */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a,
a:visited,
a:active {
	color: inherit;
}

a:hover {
	background-color: rgba(255, 198, 171, 0.75);
}

p,
ul,
ol,
pre {
	font-size: 1rem;
	line-height: 1.5;

	@media (min-width: 31.25rem) {
		font-size: 1.25rem;
	}
}

nav,
h1,
h2,
h3 {
	font-family: 'Canela Deck Web', serif;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.125;
}

code {
	font-family: monospace;
	font-size: 1rem;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.5rem;
}

h2,
figure,
img + p {
	margin-top: 2.125rem;
}

strong {
	display: block;
}

h3 {
	font-size: 1.25rem;
	margin-top: 1.5rem;
}

ol {
	padding-left: 1rem;
}

ul {
	padding-left: 1rem;
}

p,
ul,
ol {
	margin-top: 1rem;
}

li {
	margin-top: 0.25rem;
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: var(--c-background);
	color: var(--c-primaryText);
	font-feature-settings: 'liga', 'kern';

	::selection {
		background-color: var(--c-primaryAccent);
	}
}

img {
	max-width: 100%;
	display: block;
}

pre {
	margin-top: 1rem;
}

iframe {
	margin: 1rem auto 0;
}

iframe + p {
	margin-top: 1rem;
}

.u-visually-hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}

.u-half {
	width: 50%;
	margin: 0 auto;
}

.u-center {
	text-align: center;
}
