/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background: yellow;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root {
	isolation: isolate;
}

:root {
	--c-blue: rgb(0, 0, 255);
	--c-white: rgb(231, 231, 241);
	--c-brightWhite: #fefefe;
	--c-brightestWhite: #ffffff;
	--c-offWhite: rgb(176, 176, 188);
	--c-black: #161619;
	--c-brown: #aa5d00;
	--c-lightBrown: #b8860b;
	--c-green: #008000;
	--c-cerulean: #007299;
	--c-red: #d91e18;
	--c-lightestGray: #dadada;
	--c-lightGray: #696969;
	--c-darkGray: #545454;
	--c-darkerGray: #444444;
	--c-darkestGray: #272822;
}

@media (prefers-color-scheme: light) {
	:root {
		--c-blue: rgb(0, 0, 255);
		--c-white: rgb(231, 231, 241);
		--c-brightWhite: #fefefe;
		--c-brightestWhite: #ffffff;
		--c-offWhite: rgb(176, 176, 188);
		--c-black: #161619;
		--c-brown: #aa5d00;
		--c-lightBrown: #b8860b;
		--c-green: #008000;
		--c-cerulean: #007299;
		--c-red: #d91e18;
		--c-lightestGray: #dadada;
		--c-lightGray: #696969;
		--c-darkGray: #545454;
		--c-darkerGray: #444444;
		--c-darkestGray: #272822;

		--c-language: var(--c-darkGray);
		--c-notLanguage: var(--c-brightWhite);
		--c-comment: var(--c-lightGray);
		--c-punctuation: var(--c-darkGray);
		--c-property: var(--c-cerulean);
		--c-boolean: var(--c-green);
		--c-selector: var(--c-brown);
		--c-operator: var(--c-green);
		--c-atrule: var(--c-brown);
		--c-keyword: var(--c-red);
		--c-regex: var(--c-red);
		--c-highlight: var(--c-lightBrown);
		--c-lignNumber: var(--c-brown);
		--c-lignNumberRows: var(--c-lightGray);

		--c-background: var(--c-brightestWhite);
		--c-inverseBackground: var(--c-darkestGray);
		--c-primaryText: var(--c-darkestGray);
		--c-secondaryText: var(--c-darkerGray);
		--c-tertiaryText: var(--c-lightestGray);
		--c-inverseText: var(--c-brightestWhite);
		--c-primaryAccent: #ffc6ab;
		--c-lightAccent: (rgba(255, 198, 171, 0.75));
	}
}

/* todo: Finalize dark color scheme  */
@media (prefers-color-scheme: dark) {
	:root {
		--c-background: var(--c-black);
		--c-inverseBackground: var(--c-white);
		--c-primaryText: var(--c-white);
		--c-secondaryText: var(--c-offWhite);
		--c-tertiaryText: var(--c-white);
		--c-inverseText: var(--c-black);
		--c-primaryAccent: var(--c-blue);
		--c-lightAccent: (rgba(255, 198, 171, 0.75));

		--c-language: #f8f8f2;
		--c-notLanguage: #2b2b2b;
		--c-comment: #d4d0ab;
		--c-punctuation: #fefefe;
		--c-property: #ffa07a;
		--c-boolean: #00e0e0;
		--c-selector: #abe338;
		--c-operator: #00e0e0;
		--c-atrule: #ffd700;
		--c-keyword: #00e0e0;
		--c-regex: #ffd700;
		--c-highlight: rgba(255, 217, 0, 0.1);
		--c-lignNumber: #f8f8f2;
		--c-lignNumberRows: #d4d0ab;
	}
}

.wrapper {
	width: 85%;
	max-width: 65rem;
	margin: 0 auto;
}

@font-face {
	font-family: 'Canela Web';
	src: url('/fonts/Canela-Regular-Web.woff2') format('woff2'),
		url('/fonts/Canela-Regular-Web.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Canela Deck Web';
	src: url('/fonts/CanelaDeck-Regular-Web.woff2') format('woff2'),
		url('/fonts/CanelaDeck-Regular-Web.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Canela Deck Web';
	src: url('/fonts/CanelaDeck-Light-Web.woff2') format('woff2'),
		url('/fonts/CanelaDeck-Light-Web.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

body {
	font-family: 'freight-text-pro', serif;
	line-height: 1.5;
	/* A bit controversial  */
	/* More info: https://www.joshwcomeau.com/css/custom-css-reset/#digit-font-smoothing */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a,
a:visited,
a:active {
	color: inherit;
}

a:hover {
	background-color: var(--c-primaryAccent);
}

p,
ul,
ol,
pre {
	font-size: 1rem;
	line-height: 1.5;

	@media (min-width: 31.25rem) {
		font-size: 1.25rem;
	}
}

nav,
h1,
h2,
h3 {
	font-family: 'Canela Deck Web', serif;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.125;
}

code {
	font-family: monospace;
	font-size: 1rem;
}

h1 {
	font-size: 2.5rem;
	color: var(--c-primaryText);
}

h2 {
	font-size: 1.5rem;
}

h2,
figure,
img + p {
	margin-top: 2.125rem;
}

strong {
	display: block;
}

h3 {
	font-size: 1.25rem;
	margin-top: 1.5rem;
}

ol {
	padding-left: 1rem;
}

ul {
	padding-left: 1rem;
}

p,
ul,
ol {
	margin-top: 1rem;
}

li {
	margin-top: 0.25rem;
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: var(--c-background);
	color: var(--c-primaryText);
	font-feature-settings: 'liga', 'kern';

	::selection {
		background-color: var(--c-primaryAccent);
	}
}

img {
	max-width: 100%;
	display: block;
}

pre {
	margin-top: 1rem;
}

iframe {
	margin: 1rem auto 0;
}

iframe + p {
	margin-top: 1rem;
}

.u-visually-hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}

.u-half {
	width: 50%;
	margin: 0 auto;
}

.u-center {
	text-align: center;
}

/**
 * a11y-light theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

/*
 Theme
 */
code[class*='language-'],
pre[class*='language-'] {
	color: var(--c-language);
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background: var(--notLanguage);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--c-comment);
}

.token.punctuation {
	color: var(--c-punctuation);
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.property {
	color: var(--c-property);
}

.token.boolean,
.token.number {
	color: var(--c-boolean);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: var(--c-selector);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: var(--c-operator);
}

.token.atrule,
.token.attr-value,
.token.function {
	color: var(--c-atrule);
}

.token.keyword {
	color: var(--c-keyword);
}

.token.regex,
.token.regex {
	color: var(--c-regex);
}

.token.regex,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

/*
  Plugin support
 */

/* Line highlight */
.line-highlight {
	background: rgba(183, 134, 11, 0.075);
	border-top: 1px solid var(--c-highlight);
	border-bottom: 1px solid var(--c-highlight);
}

/* Line numbers */
.line-numbers .line-numbers-rows {
	border-right: 1px solid var(--c-lineNumber);
}

.line-numbers-rows > span:before {
	color: var(--c-lineNumberRows);
}

/*
 High contrast mode support
*/
@media screen and (-ms-high-contrast: active) {
	code[class*='language-'],
	pre[class*='language-'] {
		color: windowText;
		background: window;
	}

	:not(pre) > code[class*='language-'],
	pre[class*='language-'] {
		background: window;
	}

	.token.regex {
		background: highlight;
		color: window;
		font-weight: normal;
	}

	.token.atrule,
	.token.attr-value,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.selector {
		font-weight: bold;
	}

	.token.attr-value,
	.token.comment,
	.token.doctype,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.property,
	.token.string {
		color: highlight;
	}

	.token.attr-value,
	.token.url {
		font-weight: normal;
	}
}
